@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400');
@import 'style/variables.scss';

body {
  background: $ui-background;
  color: $ui-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

::selection {
  background: #03b44c;
  color: #ffffff;
}

.app-container {
  max-width: $content-max-width;
  margin: 0 auto;
  box-sizing: border-box;
  
  @include breakpoint(mobile) {
    padding: $padding-mobile-y $padding-mobile-x;
  }

  @include breakpoint(tablet) {
    padding: $padding-tablet-y $padding-tablet-x;
  }

  @include breakpoint(desktop) {
    padding: $padding-desktop-y $padding-desktop-x;
  }
}

h1 {
  font-weight: 300;
  margin: 0 $base-spacing $base-spacing*2 $base-spacing;
  font-size: 2rem;
}

h2 {
  font-weight: 300;
  margin: 0 $base-spacing $base-spacing*2 $base-spacing;
  font-size: 1.5rem;
}
