@import 'style/variables.scss';

.switch-text-option {
  .option-label {
    .option-value {
      margin: -$base-spacing*1.5 0;
    }
  }

  .text-field {
    .text-input {
      font-family: 'Source Code Pro', monospace;
      font-weight: 400;
    }
  }
}
