@import 'style/variables.scss';

.password-generator {
  border-radius: $base-spacing*2;
  border: 1px solid $input-edge;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05), 0px 2px 4px rgba(0, 0, 0, 0.07);
  display: flex;
  margin-bottom: $base-spacing*3;
  overflow: hidden;

  .password {
    align-items: center;
    background-color: $input-background;
    border-bottom-left-radius: $base-spacing*2;
    border-top-left-radius: $base-spacing*2;
    border: none;
    color: $ui-color;
    display: flex;
    flex-grow: 1;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    height: $base-spacing*4;
    min-width: 0;
    padding: 0 $base-spacing*1.5;
    transition: color 0.15s;

    &.loading {
      color: transparentize($ui-color, 0.54);
      transition: none;
    }

    &.error {
      color: $ui-error-color;
    }
  }

  button {
    -webkit-tap-highlight-color: transparent;
    background-color: $button-background;
    border-bottom: 1px dotted transparentize(black, 1);
    border-left: 1px solid transparentize($button-color, 0.5);
    border-radius: 0px;
    border-right: 1px dotted transparentize(black, 1);
    border-top: 1px dotted transparentize(black, 1);
    box-sizing: border-box;
    color: $button-color;
    cursor: pointer;
    flex-shrink: 0;
    height: $base-spacing*4;
    outline: none;
    padding: #{$base-spacing - 1px} #{$base-spacing*1.5 - 1px};
    transition: background-color 0.15s, color 0.15s, border-color 0.15s;
    user-select: none;
    width: $base-spacing*5;

    &:last-of-type {
      border-bottom-right-radius: $base-spacing*2;
      border-top-right-radius: $base-spacing*2;
    }

    &:disabled {
      background-color: $button-disabled-background;
      cursor: default;
    }

    &:focus {
      outline: none;
    }

    @media (hover: hover) {
      &:hover:not(:disabled) {
        background-color: darken($button-background, 6);
        color: transparentize($button-color, 0.1);
      }
    }

    &.focus-visible {
      background-color: darken($button-background, 9);
      border: 1px dotted black;
      color: transparentize($button-color, 0.12);

      &:disabled {
        background-color: darken($button-disabled-background, 9);
      }
    }

    &:active:not(:disabled) {
      background-color: darken($button-background, 12);
      color: transparentize($button-color, 0.15);

      svg {
        transform: scale(0.85);
      }
    }

    svg {
      height: $base-spacing*2;
      transition: transform 0.1s;
      width: $base-spacing*2;
    }
  }
}
